<?xml version="1.0" encoding="UTF-8"?>
<!-- xml 파일임을 나타내는 정보, 무조건 존재해야 함 -->
<!-- - 무조건 xml 파일의 첫번째 줄에 존재해야 함-->

<!-- xml 파일 : html과 비슷한 문법을 사용하는 언어 -->
<!-- - 데이터 저장 및 데이터 전송 시 주로 사용하는 언어 및 문서 -->
<!-- - xml은 html과 달리 사용자가 직접 태그를 만들어서 사용 -->
<!-- - xml은 반드시 시작 태그와 끝 태그가 쌍으로 구성되어 있음 -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

<!--  웹 브라우저가 자동으로 동작할 기본 파일 목록 설정 -->
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<!--  컨텍스트 기본 설정 -->
  <context-param>
    <param-name>INIT_PARAM</param-name>
    <param-value>web.xml에 저장한 초기화 매개변수</param-value>
  </context-param>

<!--  에러 코드 발생 시 동작할 JSP 페이지 설정 -->
  <error-page>
    <error-code>404</error-code>
    <location>/chap02/Exception.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/chap02/Exception.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/chap02/Exception.jsp</location>
  </error-page>
</web-app>
